<div ng-controller="vehicleMake as vm">
    <div class="container">
        <div class="row">
            <h1>Vehicle Make</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover tabel-condensed">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Advr</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr ng-repeat="vehicle in vm.vehicles">
                                <td>{{vehicle.Id}}</td>
                                <td>{{vehicle.Name}}</td>
                                <td>{{vehicle.Abrv}}</td>
                            </tr>
                           
</tbody>

                </table>
                <button ng-disabled="vm.pageNumber == 1" ng-click="vm.fetch(vm.searchTerm, vm.pageNumber = vm.pageNumber-1, vm.pageSize)">
                    Previous
                </button>
                {{pageNumber+1}}/{{numberOfPages()}}
                <button ng-disabled=" vm.datalength< vm.pageSize" ng-click="vm.fetch(vm.searchTerm, vm.pageNumber = vm.pageNumber+1, vm.pageSize)">
                    Next
                </button> 
            </div>
        </div>
        </div>  
    </div>
