<div ng-controller="VehicleModelCreate as vm" >
    <div class="container">
        <div class="row">
            <h1>Vehicle Model</h1>
            <h3></h3>
            <div>
                <div>
                    <h2>Add</h2>
                </div>
                <form>
                    <div class="form-group">
                        <label for="name">MakeId</label>
                        <select type="button" class="btn btn-primary" ng-model="vm.vehicle.MakeId" ng-options="vehiclemake.Id as vehiclemake.Name for vehiclemake in vm.vehiclemakes" ng-change="vm.searchByMake(vm.MakeIdSearch, vm.pageNumber=1, vm.pageSize)">
                            <option value="">Choose Vehicle Make</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="addName" ng-model="vm.vehicle.Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Abrv</label>
                        <input type="text" class="form-control" id="addAbrv" ng-model="vm.vehicle.Abrv">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" value="Update" ng-click="vm.add(vm.vehicle)" title="Update" >Save</button>
                        <a ui-sref="Model">Return to table</a>
                    </div>
                </form>

            </div>



        </div>
    </div>
</div>